:root {
  --post-thumbnail-width: 380px;
  --post-side-margin: 60px;
}

.blog-browser {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.blog-browser-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.blog-browser-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 30px;
}

.blog-browser-post-container {
  display: flex;
  flex-direction: column;
  width: var(--post-thumbnail-width);
  min-height: 100px;
  margin: 10px var(--post-side-margin) 70px var(--post-side-margin);
}

.blog-post-thumbnail {
  width: 100%;
  height: 100%;
  max-height: var(--post-thumbnail-width);
  overflow: hidden;
}

.blog-post-body {
  padding: 0 0px;
}

.blog-post-body p {
  overflow: hidden;
  width: 300px;
}

.blog-post-body a {
  color: black;
  font-size: 13pt;
}

.blog-browser-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 20px;
}

#show-more-button-container {
  display: flex;
  justify-content: center;
  min-height: 100px;
  margin: auto;
  width: 100%;
}

#show-more-button-container button {
  width: 100%;
  border: none;
  background-color: #e9e9e9;
  font-size: 14pt;
  color: #222;
}

#show-more-button-container button:hover {
  cursor: pointer;
  background-color: #efefef;
  color: #333;
}

@media only screen and (max-width: 1540px) {
  :root {
    --post-thumbnail-width: 320px;
    --post-side-margin: 40px;
  }
}

@media only screen and (max-width: 1280px) {
  :root {
    --post-thumbnail-width: 280px;
    --post-side-margin: 30px;
  }
}

@media only screen and (max-width: 1125px) {
  :root {
    --post-thumbnail-width: 320px;
    --post-side-margin: 40px;
  }
}
