:root {
  --post-thumbnail-width: 360px;
  --post-top-margin: 10px;
  --post-side-margin: 80px;
  --post-bottom-margin: 110px;
  --post-h2-font-size: 18pt;
  --post-font-size: 12pt;
  --post-a-font-size: 13pt;
  --post-thumbnail-margin: 20px;
  --browser-margin-top: 80px;
  --browser-padding-side: 30px;
}

.blog-browser {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: var(--browser-margin-top);
}

.blog-browser-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.blog-browser-body {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 var(--browser-padding-side);
}

.blog-browser-post-container {
  display: flex;
  flex-direction: column;
  width: var(--post-thumbnail-width);
  min-height: 100px;
  margin: var(--post-top-margin) var(--post-side-margin)
    var(--post-bottom-margin) var(--post-side-margin);
  text-decoration: none;
  color: black;
}

.blog-browser-post-empty {
  display: flex;
  flex-direction: column;
  width: var(--post-thumbnail-width);
  height: 0;
  margin: 0 var(--post-side-margin) 0 var(--post-side-margin);
}

.blog-post-thumbnail {
  min-width: var(--post-thumbnail-width);
  min-height: var(--post-thumbnail-width);
  width: var(--post-thumbnail-width);
  height: var(--post-thumbnail-width);
  max-width: var(--post-thumbnail-width);
  max-height: var(--post-thumbnail-width);
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--post-thumbnail-margin);
}

.blog-post-body {
  padding: 0 0px;
}

.blog-post-body h2 {
  font-size: var(--post-h2-font-size);
}

.blog-post-body p {
  overflow: hidden;
  width: 300px;
  font-size: var(--post-font-size);
}

.blog-post-body .read-more {
  color: black;
  font-size: var(--post-a-font-size);
  text-decoration: underline;
}

.blog-browser-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 20px;
}

#show-more-button-container {
  display: flex;
  justify-content: center;
  min-height: 100px;
  margin: auto;
  width: 100%;
}

#show-more-button-container button {
  width: 100%;
  border: none;
  background-color: #ddd;
  font-size: 14pt;
  color: #222;
}

#show-more-button-container button:hover {
  cursor: pointer;
  background-color: #e4e4e4;
  color: #333;
}

@media only screen and (max-width: 1540px) {
  :root {
    --post-thumbnail-width: 320px;
    --post-side-margin: 40px;
    --post-h2-font-size: 18pt;
    --post-font-size: 12pt;
    --post-a-font-size: 13pt;
    --post-bottom-margin: 100px;
    --browser-margin-top: 60px;
    --browser-padding-side: 10px;
  }
}

@media only screen and (max-width: 1280px) {
  :root {
    --post-thumbnail-width: 280px;
    --post-side-margin: 25px;
  }
}

@media only screen and (max-width: 1125px),
  only screen and (max-height: 540px) {
  :root {
    --post-thumbnail-width: 280px;
    --post-side-margin: 40px;
    --post-bottom-margin: 120px;
    --browser-margin-top: 80px;
  }

  .blog-browser-post-container {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
  }
  .blog-post-body {
    width: auto;
    height: 100%;
    margin: auto;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 1080px) {
  :root {
    --post-thumbnail-width: 300px;
    --post-bottom-margin: 80px;
  }

  .blog-browser-post-container {
    flex-direction: column;
    flex-grow: initial;
    justify-content: initial;
    width: var(--post-thumbnail-width);
  }

  .blog-post-body {
    width: var(--post-thumbnail-width);
    padding: 0 0px;
    height: initial;
    margin: initial;
  }
}

@media only screen and (max-width: 840px) {
  :root {
    --post-thumbnail-width: 280px;
    --post-side-margin: 0px;
    --post-bottom-margin: 120px;
    --browser-padding-side: 30px;
    --browser-margin-top: 80px;
  }

  .blog-browser-post-container {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
  }

  .blog-post-thumbnail {
    margin: auto 0;
  }

  .blog-post-body {
    width: auto;
    height: 100%;
    margin: auto;
    margin-left: 40px;
  }

  .blog-post-body h1 {
    margin: 0 !important;
    padding: 0 !important;
  }

  .blog-post-body p {
    width: auto;
  }
}

@media only screen and (max-width: 720px) {
  :root {
    --post-thumbnail-width: 240px;
    --post-side-margin: 0px;
    --post-bottom-margin: 100px;
    --browser-margin-top: 40px;
  }
}

@media only screen and (max-width: 640px) and (max-height: 420px) {
}

@media only screen and (max-width: 640px) and (min-height: 420px) {
  :root {
    --post-thumbnail-width: 360px;
    --post-side-margin: 30px;
    --browser-margin-top: 20px;
  }

  .blog-browser-post-container {
    flex-direction: column;
    flex-grow: initial;
    justify-content: initial;
    width: var(--post-thumbnail-width);
  }

  .blog-post-body {
    width: var(--post-thumbnail-width);
    padding: 0 0px;
    height: initial;
    margin: initial;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --post-thumbnail-width: 70vw;
    --post-side-margin: 0px;
    --browser-padding-side: 0px;
  }
}

@media only screen and (max-width: 420px) {
  :root {
    --post-thumbnail-width: 80vw;
    --post-side-margin: 0px;
    --browser-padding-side: 0px;
    --browser-margin-top: 10px;
  }

  .blog-post-body {
    margin-top: 8px;
  }
}
