:root {
  --page-heading-margin: 30px 10% 0 10%;
  --page-heading-h1-size: 24pt;
  --page-heading-font-size: 12pt;
}

#page-heading {
  margin: var(--page-heading-margin);
}

#page-heading h1 {
  font-size: var(--page-heading-h1-size);
}

#page-heading span {
  font-size: var(--page-heading-font-size);
  font-weight: 200;
  padding-left: 2px;
}

@media only screen and (max-width: 720px) {
  :root {
    --page-heading-margin: 30px 5% 0 5%;
    --page-heading-h1-size: 1.7em;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --page-heading-margin: 30px 15px 0 15px;
    --page-heading-h1-size: 1.5em;
    --page-heading-font-size: 0.8em;
  }
}
