.featured-container {
  display: flex;
  width: 100%;
  min-height: 40vh;
  max-height: 60vh;
  height: auto;
}

.featured-image-container {
  height: 100%;
  min-height: 40vh;
  max-height: 60vh;
  width: 100%;
}
