.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
  width: auto;
  margin: 30px 10% 0px 10%;
}

.grid-item {
  max-width: 100%;
  width: auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 720px) {
  .grid-container {
    margin: 30px 5%;
  }
}

@media only screen and (max-width: 480px) {
  .grid-container {
    margin: 30px 15px;
  }
}
