footer {
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 0;
}

#index-main {
  justify-content: center;
  height: auto;
  margin: auto;
}

#logo-container {
  width: 100%;
}

.logo-image {
  border-radius: 20px;
  max-width: 380px;
  margin: 0 auto;
  margin-bottom: 80px;
}

#logo-text {
  font-family: "Spartan";
  font-size: 40pt;
  margin: 40px auto;
  text-align: center;
}

#language-selector {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  width: 100%;
  justify-content: center;
}

#language-selector a {
  padding: 15px 5px;
  margin: 5px 15px;
  color: black;
  text-decoration: none;
  width: 180px;
  height: auto;
  min-width: 240px;
  text-align: center;
  font-size: 18pt;
}

#language-selector a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1080px) {
  #logo-text {
    margin: 20px auto;
    font-size: 36pt;
  }
  .logo-image {
    max-width: 300px;
    margin-bottom: 40px;
  }
  #language-selector {
    flex-direction: column;
  }
  #language-selector a {
    margin: 15px auto;
    padding: 5px;
    font-size: 18pt;
  }
}

@media only screen and (max-width: 720px) {
  .logo-image {
    max-width: 240px;
  }
  #logo-text {
    margin: 20px auto;
    font-size: 32pt;
  }
  #language-selector {
    flex-direction: column;
  }
  #language-selector a {
    margin: 15px auto;
    padding: 5px;
    font-size: 16pt;
  }
}
