#social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#social-container a {
  margin: 20px 15px;
  color: #eee;
  height: 25px;
}

@media only screen and (max-width: 1080px) {
  #social-container {
    margin: auto 10px;
    align-self: left;
    margin-right: 20px;
  }
  #social-container a {
    margin: 20px 20px;
  }
}

@media only screen and (max-width: 480px) {
  #social-container {
    justify-content: flex-end;
  }
  #social-container a {
    margin: auto 10px;
  }
}
